<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-grid-list cols="4" rowHeight="360px">
  <mat-grid-tile *ngFor="let user of users" colspan="1" rowspan="1">
    <div class="card-container">
      <span class="pro">{{ user.role }}</span>
      <img
        class="round"
        [src]="user.image ? user.image : 'assets/img/users/user.jpg'"
        [alt]="user.local.username"
      />
      <h3>{{ user.local.username }}</h3>
      <h6>{{ user.local.email }}</h6>
      <p>
        {{ user.create_at | date }}
      </p>
      <div class="buttons">
        <button class="primary" (click)="onDeleteUser(user._id)">DELETE</button>
        <!-- <button class="primary ghost">Following</button> -->
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-paginator
  [length]="totalUsers"
  [pageSize]="usersPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  showFirstLastButtons
  *ngIf="users?.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="users?.length <= 0 && !isLoading">
  No users registered yet!
</p>
